Repository bazelbuild/examples, changes with the owners that CODEOWNERS names for each.
All owners: @gregestren, @sventiffe, @philwo, @ahumesky, @jin, @oquenchil, @bazelbuild/configurability, @meteorcloudy

CODEOWNERS:

* @gregestren

AUTHORS  @sventiffe @philwo
android/ @ahumesky @jin
cpp-tutorial @oquenchil
java-maven/ @jin
java-tutorial/ @jin
make-variables @bazelbuild/configurability
flags-parsing-tutorial @bazelbuild/configurability
rules/starlark-configurations @bazelbuild/configurability
third-party-dependencies @meteorcloudy

Add a first-cut index to the README
  README.md
Owners: @gregestren

nit
  README.md
Owners: @gregestren

Update BUILD
  java-tutorial/BUILD
Owners: @jin

Update BUILD
  java-tutorial/BUILD
Owners: @jin

Fix java-tutorial build (#252)
  java-tutorial/BUILD
  java-tutorial/src/main/java/com/example/cmdline/BUILD
Owners: @jin

Add a first-cut index to the README (#283)
  README.md
Owners: @gregestren

Update README.md
  README.md
Owners: @gregestren

Update README.md
  README.md
Owners: @gregestren

Set --remote_download_outputs=all for some android examples
  .bazelci/android.yml
Owners: @gregestren

Update bzlmod.yml
  .bazelci/bzlmod.yml
Owners: @gregestren

Set --remote_download_outputs=all for some android examples (#286)
  .bazelci/android.yml
  .bazelci/bzlmod.yml
Owners: @gregestren

Update android/ndk example to the latest versions of rules_android and rules_android_ndk.
  android/ndk/.bazelrc
  android/ndk/.bazelversion
  android/ndk/WORKSPACE
  android/ndk/app/src/main/BUILD.bazel
Owners: @ahumesky, @jin

Fix bazelrc
  android/ndk/.bazelrc
Owners: @ahumesky, @jin

Update README.md (#285)
  README.md
Owners: @gregestren

Update rules_apple for bazel HEAD breakage
  tutorial/WORKSPACE
Owners: @gregestren

Update rules_apple for bazel HEAD breakage (#289)
  tutorial/WORKSPACE
Owners: @gregestren

Remove function usage in MODULE.bazel
  bzlmod/05-integrate_third_party_package_manager/MODULE.bazel
Owners: @gregestren

More fixes
  bzlmod/06-specify_dev_dependency/MODULE.bazel
Owners: @gregestren

Remove function usage in MODULE.bazel (#291)
  bzlmod/05-integrate_third_party_package_manager/MODULE.bazel
  bzlmod/06-specify_dev_dependency/MODULE.bazel
Owners: @gregestren

Fix missing jni.h when cc toolchain resolution is enabled
  .bazelci/android.yml
  android/ndk/app/src/main/BUILD.bazel
Owners: @gregestren, @ahumesky, @jin

Fix missing jni.h when cc toolchain resolution is enabled (#292)
  .bazelci/android.yml
  android/ndk/app/src/main/BUILD.bazel
Owners: @gregestren, @ahumesky, @jin

Partial revert of "Fix missing jni.h when cc toolchain resolution is enabled"
  android/ndk/app/src/main/BUILD.bazel
Owners: @ahumesky, @jin

Partial revert of "Fix missing jni.h when cc toolchain resolution is enabled" (#293)
  android/ndk/app/src/main/BUILD.bazel
Owners: @ahumesky, @jin

fix typo
  rules/implicit_output/BUILD
Owners: @gregestren

fix typo (#296)
  rules/implicit_output/BUILD
Owners: @gregestren

Update rules_go, skylib and catch2 to obtain new release of platforms
  third-party-dependencies/BUILD
  third-party-dependencies/catch2_test.cpp
  third-party-dependencies/third_party/bazel_skylib/direct.bzl
  third-party-dependencies/third_party/catch2/catch2.BUILD
  third-party-dependencies/third_party/catch2/direct.bzl
  third-party-dependencies/third_party/gtest/direct.bzl
  third-party-dependencies/third_party/rules_go/direct.bzl
  third-party-dependencies/third_party/rules_go/transitive.bzl
Owners: @meteorcloudy

Importing less headers
  third-party-dependencies/catch2_test.cpp
Owners: @meteorcloudy

Downgrade catch2, gtest to support older Bazel/STL
  third-party-dependencies/BUILD
  third-party-dependencies/catch2_test.cpp
  third-party-dependencies/third_party/catch2/direct.bzl
  third-party-dependencies/third_party/gtest/direct.bzl
Owners: @meteorcloudy

Update rules_go, skylib and catch2 to obtain new release of platforms (#300)
  third-party-dependencies/BUILD
  third-party-dependencies/third_party/bazel_skylib/direct.bzl
  third-party-dependencies/third_party/catch2/catch2.BUILD
  third-party-dependencies/third_party/catch2/direct.bzl
  third-party-dependencies/third_party/rules_go/direct.bzl
  third-party-dependencies/third_party/rules_go/transitive.bzl
Owners: @meteorcloudy

update to latest rules_kotlin
  android/jetpack-compose/WORKSPACE
  android/robolectric-testing/WORKSPACE
Owners: @ahumesky, @jin

change bazel version
  android/jetpack-compose/.bazelversion
Owners: @ahumesky, @jin

Update rules_apple
  tutorial/WORKSPACE
Owners: @gregestren

Update rules_apple (#304)
  tutorial/WORKSPACE
Owners: @gregestren

bzlmod example: pin skylib version
  bzlmod/02-override_bazel_module/MODULE.bazel
Owners: @gregestren

bzlmod example: pin skylib version (#305)
  bzlmod/02-override_bazel_module/MODULE.bazel
Owners: @gregestren

Change version to last_green
  android/jetpack-compose/.bazelversion
Owners: @ahumesky, @jin

Fix CI for C++ toolchain resolution
  .bazelci/tutorials.yml
Owners: @gregestren

Adding platform_mappings, because they can't be accessed from another repo
  .bazelci/tutorials.yml
  tutorial/platform_mappings
Owners: @gregestren

Remove flags to test on CI
  .bazelci/tutorials.yml
Owners: @gregestren

Fix CI for C++ toolchain resolution (#307)
  tutorial/platform_mappings
Owners: @gregestren
