Repository bazelbuild/examples, changes with the owners that CODEOWNERS names for each.
All owners: @gregestren, @Wyverald, @fweikert, @meteorcloudy, @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @alexeagle, @bazelbuild/go-maintainers, @brandjon, @comius

chore(deps): update dependency androidx.compose.runtime:runtime to v1.10.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui to v1.10.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.10.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency rules_cc to v0.2.17
  android/ndk/MODULE.bazel
  bzlmod/01-depend_on_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/lib_a/MODULE.bazel
  configurations/MODULE.bazel
  cpp-tutorial/stage1/MODULE.bazel
  cpp-tutorial/stage2/MODULE.bazel
  cpp-tutorial/stage3/MODULE.bazel
  make-variables/WORKSPACE
  rules/MODULE.bazel
  rust-examples/04-ffi/MODULE.bazel
  third-party-dependencies/MODULE.bazel
Owners: @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @comius, @gregestren, @Wyverald, @meteorcloudy

chore(deps): update dependency androidx.compose.material:material to v1.10.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.runtime:runtime to v1.10.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui to v1.10.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.10.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update rules_android_ndk digest to ad20177
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.activity:activity-compose to v1.13.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.material:material to v1.10.5
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.runtime:runtime to v1.10.5
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui to v1.10.5
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.10.5
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.core:core to v1.18.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Add tsconfig paths example for next.js
  frontend/next.js/components/BUILD.bazel
  frontend/next.js/components/button.tsx
  frontend/next.js/pages/BUILD.bazel
  frontend/next.js/pages/index.tsx
  frontend/next.js/tsconfig.json
Owners: @alexeagle

Upgrade bazel, and some bazel deps, etc.
  frontend/.bazelversion
  frontend/MODULE.bazel
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Owners: @alexeagle

Use rules_js/contrib/nextjs rules
  frontend/next.js/BUILD.bazel
Owners: @alexeagle

chore(deps): update rules_android_ndk digest to ec85ec1
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

Fix frontend CcInfo loads missing for Bazel 9
  frontend/.bazelversion
  frontend/MODULE.bazel
Owners: @alexeagle

Fix frontend CcInfo loads missing for Bazel 9 (#683)
  frontend/.bazelversion
  frontend/MODULE.bazel
Owners: @alexeagle

[Downstream Bazel Fix] Fix rules_rust error
  rust-examples/05-deps-cargo/MODULE.bazel
  rust-examples/06-deps-direct/MODULE.bazel
  rust-examples/07-deps-vendor/MODULE.bazel
  rust-examples/08-grpc-client-server/MODULE.bazel
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

[Downstream Bazel Fix] Temporarily patch rules_rust for Bazel@Head compatibility (#682)
  rust-examples/05-deps-cargo/MODULE.bazel
  rust-examples/06-deps-direct/MODULE.bazel
  rust-examples/07-deps-vendor/MODULE.bazel
  rust-examples/08-grpc-client-server/MODULE.bazel
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

Update rules_android_ndk digest to 18ad65e
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

Update dependency rules_cc to v0.2.17
  android/ndk/MODULE.bazel
  bzlmod/01-depend_on_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/lib_a/MODULE.bazel
  configurations/MODULE.bazel
  cpp-tutorial/stage1/MODULE.bazel
  cpp-tutorial/stage2/MODULE.bazel
  cpp-tutorial/stage3/MODULE.bazel
  make-variables/WORKSPACE
  rules/MODULE.bazel
  rust-examples/04-ffi/MODULE.bazel
  third-party-dependencies/MODULE.bazel
Owners: @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @comius, @gregestren, @Wyverald, @meteorcloudy

Update dependency androidx.activity:activity-compose to v1.13.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.appcompat:appcompat to v1.7.1
  android/jetpack-compose/MODULE.bazel
  android/ndk/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.compiler:compiler to v1.5.15
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.material:material to v1.10.6
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.runtime:runtime to v1.10.6
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.ui:ui to v1.10.6
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.ui:ui-tooling to v1.10.6
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.core:core to v1.18.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Example with failed run_shell
  rules/.bazelversion
  rules/shell_command/BUILD
  rules/shell_command/echo.bzl
Owners: @comius

android-instrumentation-testing: Setup project and add basic java target
  android/instrumentation-testing/.bazelrc
  android/instrumentation-testing/.bazelversion
  android/instrumentation-testing/MODULE.bazel
  android/instrumentation-testing/app/src/main/AndroidManifest.xml
  android/instrumentation-testing/app/src/main/BUILD.bazel
  android/instrumentation-testing/app/src/main/java/com/example/android/instrumentation/Greeter.java
Owners: @ahumesky, @jin

android-instrumentation-testing: Add README.md
  android/instrumentation-testing/README.md
Owners: @ahumesky, @jin

Updates rust examples
  rust-examples/09-oci-container/README.md
  rust-examples/09-oci-container/build/container.bzl
Owners: @gregestren, @Wyverald

Update examples to use `ctx.actions.args()`.
  rules/actions_run/execute.bzl
  rules/computed_dependencies/hash.bzl
  rules/runfiles/tool.bzl
  rules/shell_command/rules.bzl
Owners: @comius

Update examples to use `ctx.actions.args()`. (#693)
  rules/actions_run/execute.bzl
  rules/computed_dependencies/hash.bzl
  rules/runfiles/tool.bzl
  rules/shell_command/rules.bzl
  rust-examples/09-oci-container/README.md
  rust-examples/09-oci-container/build/container.bzl
Owners: @comius, @gregestren, @Wyverald

Add python-tutorial
  python-tutorial/README.md
  python-tutorial/stage1/MODULE.bazel
  python-tutorial/stage1/main/BUILD
  python-tutorial/stage1/main/hello-world.py
  python-tutorial/stage2/MODULE.bazel
  python-tutorial/stage2/main/BUILD
  python-tutorial/stage2/main/hello_greet.py
  python-tutorial/stage2/main/hello_world.py
  python-tutorial/stage3/MODULE.bazel
  python-tutorial/stage3/lib/BUILD
  python-tutorial/stage3/lib/time.py
  python-tutorial/stage3/main/BUILD
  python-tutorial/stage3/main/hello_greet.py
  python-tutorial/stage3/main/hello_world.py
Owners: @gregestren, @Wyverald

CODEOWNERS:

* @gregestren @Wyverald

.bazelci @fweikert
AUTHORS  @meteorcloudy
android/ @ahumesky @jin
bzlmod/ @wyverald
configurations/ @bazelbuild/configurability
cpp-tutorial/ @oquenchil
flags-parsing-tutorial/ @bazelbuild/configurability
frontend/ @alexeagle
go-tutorial/ @bazelbuild/go-maintainers
macros/ @brandjon
make-variables/ @bazelbuild/configurability
rules/ @comius
third-party-dependencies/ @meteorcloudy
