Repository bazelbuild/examples, changes with the owners that CODEOWNERS names for each.
All owners: @gregestren, @Wyverald, @fweikert, @meteorcloudy, @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @alexeagle, @bazelbuild/go-maintainers, @brandjon, @comius

Add CI escape verification task
  .bazelci/rules.yml
Owners: @fweikert

Update probe to prevent set -e crashes and dump env
  .bazelci/rules.yml
Owners: @fweikert

Null-out Android env for non-Android macos builds
  .bazelci/configurations.yml
  .bazelci/misc.yml
  .bazelci/tutorial-cpp.yml
  .bazelci/tutorial-java.yml
Owners: @fweikert

Null-out Android env for non-Android macos builds (#700)
  .bazelci/configurations.yml
  .bazelci/misc.yml
  .bazelci/tutorial-cpp.yml
  .bazelci/tutorial-java.yml
Owners: @fweikert

Update dependency androidx.activity:activity-compose to v1.13.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.appcompat:appcompat to v1.7.1
  android/jetpack-compose/MODULE.bazel
  android/ndk/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.compiler:compiler to v1.5.15
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.core:core to v1.19.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.material:material to v1.11.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.runtime:runtime to v1.11.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.ui:ui to v1.11.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.ui:ui-tooling to v1.11.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency rules_cc to v0.2.20
  android/ndk/MODULE.bazel
  bzlmod/01-depend_on_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/lib_a/MODULE.bazel
  configurations/MODULE.bazel
  cpp-tutorial/stage1/MODULE.bazel
  cpp-tutorial/stage2/MODULE.bazel
  cpp-tutorial/stage3/MODULE.bazel
  make-variables/WORKSPACE
  rules/MODULE.bazel
  rust-examples/04-ffi/MODULE.bazel
  third-party-dependencies/MODULE.bazel
Owners: @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @comius, @gregestren, @Wyverald, @meteorcloudy

Update rules_android_ndk digest to 27b3874
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

Update dependency androidx.compose.material:material to v1.11.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.runtime:runtime to v1.11.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.ui:ui to v1.11.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update dependency androidx.compose.ui:ui-tooling to v1.11.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update rules_android_ndk digest to 259175a
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

Update dependency rules_cc to v0.2.22
  android/ndk/MODULE.bazel
  bzlmod/01-depend_on_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/lib_a/MODULE.bazel
  configurations/MODULE.bazel
  cpp-tutorial/stage1/MODULE.bazel
  cpp-tutorial/stage2/MODULE.bazel
  cpp-tutorial/stage3/MODULE.bazel
  make-variables/WORKSPACE
  rules/MODULE.bazel
  rust-examples/04-ffi/MODULE.bazel
  third-party-dependencies/MODULE.bazel
Owners: @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @comius, @gregestren, @Wyverald, @meteorcloudy

[Downstream Bazel Fix] Update Rust toolchain version to 1.88.0
  rust-examples/06-deps-direct/MODULE.bazel
  rust-examples/06-deps-direct/MODULE.bazel.lock
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

[Downstream Bazel Fix] Update Rust toolchain version to 1.88.0 (#702)
  rust-examples/06-deps-direct/MODULE.bazel
  rust-examples/06-deps-direct/MODULE.bazel.lock
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

Refactor "java-maven" example: removing the requirement for a running Docker daemon.
  java-maven/BUILD
  java-maven/README.md
  java-maven/container-structure-test.yaml
Owners: @gregestren, @Wyverald

No need for this anymore
  .bazelci/misc.yml
Owners: @fweikert

Remove the OCI parts of the java-maven example
  .bazelci/misc.yml
  java-maven/BUILD
  java-maven/MODULE.bazel
  java-maven/README.md
  java-maven/container-structure-test.yaml
Owners: @fweikert, @gregestren, @Wyverald

[Downstream] Skip Docker-related Java Maven tests
  .bazelci/misc.yml
Owners: @fweikert

[Downstream] Skip Docker-related Java Maven tests (#705)
  .bazelci/misc.yml
Owners: @fweikert

docs: add note on running examples with Bazel
  README.md
Owners: @gregestren, @Wyverald

Update .bazelversion to 9.2.0 in bzlmod examples
  bzlmod/01-depend_on_bazel_module/.bazelversion
Owners: @wyverald

Update .bazelversion to 9.2.0 in bzlmod examples (#708)
  bzlmod/01-depend_on_bazel_module/.bazelversion
Owners: @wyverald

CODEOWNERS:

* @gregestren @Wyverald

.bazelci @fweikert
AUTHORS  @meteorcloudy
android/ @ahumesky @jin
bzlmod/ @wyverald
configurations/ @bazelbuild/configurability
cpp-tutorial/ @oquenchil
flags-parsing-tutorial/ @bazelbuild/configurability
frontend/ @alexeagle
go-tutorial/ @bazelbuild/go-maintainers
macros/ @brandjon
make-variables/ @bazelbuild/configurability
rules/ @comius
third-party-dependencies/ @meteorcloudy
