Repository bazelbuild/examples, changes with the owners that CODEOWNERS names for each.
All owners: @gregestren, @Wyverald, @fweikert, @meteorcloudy, @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @alexeagle, @bazelbuild/go-maintainers, @brandjon, @comius

chore(deps): update dependency androidx.compose.compiler:compiler to v1.5.15
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.material:material to v1.10.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.runtime:runtime to v1.10.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui to v1.10.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.10.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.core:core to v1.17.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency aspect_bazel_lib to v2.22.0
  frontend/MODULE.bazel
  java-maven/MODULE.bazel
Owners: @alexeagle, @gregestren, @Wyverald

Update Go tutorial link in README.md
  README.md
Owners: @gregestren, @Wyverald

Update Go tutorial link in README.md (#645)
  README.md
Owners: @gregestren, @Wyverald

chore(deps): update dependency googletest to v1.17.0.bcr.2
  third-party-dependencies/MODULE.bazel
Owners: @meteorcloudy

Upgrade Bzlmod examples to Bazel 9.*
  bzlmod/01-depend_on_bazel_module/.bazelversion
  bzlmod/01-depend_on_bazel_module/BUILD
  bzlmod/01-depend_on_bazel_module/MODULE.bazel
  bzlmod/01-depend_on_bazel_module/main.cc
  bzlmod/02-override_bazel_module/BUILD
  bzlmod/02-override_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/lib_a/BUILD
  bzlmod/02-override_bazel_module/lib_a/MODULE.bazel
  bzlmod/02-override_bazel_module/lib_a/lib_a.cc
  bzlmod/02-override_bazel_module/main.cc
Owners: @wyverald

Restore override examples with abseil-cpp and re2
  bzlmod/02-override_bazel_module/BUILD
  bzlmod/02-override_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/main.cc
Owners: @wyverald

Migrate from `glog` to `ng-log` library
  bzlmod/01-depend_on_bazel_module/.bazelversion
  bzlmod/01-depend_on_bazel_module/BUILD
  bzlmod/01-depend_on_bazel_module/MODULE.bazel
  bzlmod/01-depend_on_bazel_module/README.md
  bzlmod/01-depend_on_bazel_module/main.cc
Owners: @wyverald

Bzlmod examples - Fix errors with glob for Bazel@HEAD
  bzlmod/01-depend_on_bazel_module/BUILD
  bzlmod/01-depend_on_bazel_module/MODULE.bazel
  bzlmod/01-depend_on_bazel_module/main.cc
  bzlmod/02-override_bazel_module/BUILD
  bzlmod/02-override_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/bazel_skylib.patch
  bzlmod/02-override_bazel_module/lib_a/BUILD
  bzlmod/02-override_bazel_module/lib_a/MODULE.bazel
  bzlmod/02-override_bazel_module/lib_a/lib_a.cc
  bzlmod/02-override_bazel_module/main.cc
Owners: @wyverald

chore(deps): update dependency googletest to v1.17.0.bcr.2 (#646)
  third-party-dependencies/MODULE.bazel
Owners: @meteorcloudy

Don't flatten a depset unnecessarily (#628)
  rules/depsets/foo.bzl
Owners: @comius

Bzlmod examples - Fix errors with glog for Bazel@HEAD (#654)
  bzlmod/01-depend_on_bazel_module/BUILD
  bzlmod/01-depend_on_bazel_module/MODULE.bazel
  bzlmod/01-depend_on_bazel_module/main.cc
  bzlmod/02-override_bazel_module/BUILD
  bzlmod/02-override_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/bazel_skylib.patch
  bzlmod/02-override_bazel_module/lib_a/BUILD
  bzlmod/02-override_bazel_module/lib_a/MODULE.bazel
  bzlmod/02-override_bazel_module/lib_a/lib_a.cc
  bzlmod/02-override_bazel_module/main.cc
Owners: @wyverald

Fix examples with Bazel@HEAD
  rust-examples/02-hello-cross/MODULE.bazel
  rust-examples/02-hello-cross/README.md
  rust-examples/08-grpc-client-server/MODULE.bazel
  rust-examples/08-grpc-client-server/README.md
  rust-examples/08-grpc-client-server/proto_bindings/BUILD.bazel
  rust-examples/09-oci-container/MODULE.bazel
  rust-examples/09-oci-container/README.md
  rust-examples/README.md
  third-party-dependencies/MODULE.bazel
Owners: @gregestren, @Wyverald, @meteorcloudy

upgrade bazel version to 9.* in rust-examples
  rust-examples/.bazelversion
Owners: @gregestren, @Wyverald

try fixing rust error
  rust-examples/02-hello-cross/MODULE.bazel
Owners: @gregestren, @Wyverald

fix(rules): support shasum as fallback for sha256sum
  rules/implicit_output/hash.bzl
Owners: @comius

Fix Bazel@HEAD - Support shasum as fallback for sha256sum (#661)
  rules/implicit_output/hash.bzl
Owners: @comius

try disabling sandbox to see if that's causing the error with rust tests
  .bazelci/tutorial-rust.yml
Owners: @fweikert

change standalone to local in spawn_strategy
  .bazelci/tutorial-rust.yml
Owners: @fweikert

update llvm_toolchain version to check symlinks
  .bazelci/tutorial-rust.yml
  rust-examples/02-hello-cross/MODULE.bazel
  rust-examples/02-hello-cross/README.md
Owners: @fweikert, @gregestren, @Wyverald

Fix examples with Bazel@HEAD (#658)
  rust-examples/.bazelversion
  rust-examples/02-hello-cross/MODULE.bazel
  rust-examples/02-hello-cross/README.md
  rust-examples/08-grpc-client-server/MODULE.bazel
  rust-examples/08-grpc-client-server/README.md
  rust-examples/08-grpc-client-server/proto_bindings/BUILD.bazel
  rust-examples/09-oci-container/MODULE.bazel
  rust-examples/09-oci-container/README.md
  rust-examples/README.md
  third-party-dependencies/MODULE.bazel
Owners: @gregestren, @Wyverald, @meteorcloudy

Update iOS tutorial link to use main branch
  README.md
Owners: @gregestren, @Wyverald

Fix Rust examples - Update Rust version
  rust-examples/01-hello-world/MODULE.bazel
  rust-examples/01-hello-world/README.md
  rust-examples/02-hello-cross/MODULE.bazel
  rust-examples/02-hello-cross/README.md
  rust-examples/03-comp-opt/MODULE.bazel
  rust-examples/05-deps-cargo/MODULE.bazel
  rust-examples/06-deps-direct/MODULE.bazel
  rust-examples/07-deps-vendor/MODULE.bazel
  rust-examples/07-deps-vendor/README.md
  rust-examples/08-grpc-client-server/MODULE.bazel
  rust-examples/08-grpc-client-server/README.md
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

fix md5 command for mac
  rules/computed_dependencies/hash.bzl
Owners: @comius

use python for md5 hashing
  rules/computed_dependencies/hash.bzl
Owners: @comius

use python script for md5 hashing
  rules/computed_dependencies/hash.bzl
Owners: @comius

Fix Rust examples - Update Rust version (#668)
  rust-examples/01-hello-world/MODULE.bazel
  rust-examples/01-hello-world/README.md
  rust-examples/02-hello-cross/MODULE.bazel
  rust-examples/02-hello-cross/README.md
  rust-examples/03-comp-opt/MODULE.bazel
  rust-examples/05-deps-cargo/MODULE.bazel
  rust-examples/06-deps-direct/MODULE.bazel
  rust-examples/07-deps-vendor/MODULE.bazel
  rust-examples/07-deps-vendor/README.md
  rust-examples/08-grpc-client-server/MODULE.bazel
  rust-examples/08-grpc-client-server/README.md
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

Fix md5 hash command to work for all platforms (#669)
  rules/computed_dependencies/hash.bzl
Owners: @comius

chore(deps): update rules_android_ndk digest to 2966647
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

chore(deps): update dependency rules_cc to v0.2.16
  android/ndk/MODULE.bazel
  bzlmod/01-depend_on_bazel_module/MODULE.bazel
  bzlmod/02-override_bazel_module/lib_a/MODULE.bazel
  configurations/MODULE.bazel
  cpp-tutorial/stage1/MODULE.bazel
  cpp-tutorial/stage2/MODULE.bazel
  cpp-tutorial/stage3/MODULE.bazel
  make-variables/WORKSPACE
  rules/MODULE.bazel
  rust-examples/04-ffi/MODULE.bazel
  third-party-dependencies/MODULE.bazel
Owners: @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @comius, @gregestren, @Wyverald, @meteorcloudy

chore(deps): update dependency androidx.appcompat:appcompat to v1.7.1
  android/jetpack-compose/MODULE.bazel
  android/ndk/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.compiler:compiler to v1.5.15
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.core:core to v1.17.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.activity:activity-compose to v1.12.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.material:material to v1.10.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

CODEOWNERS:

* @gregestren @Wyverald

.bazelci @fweikert
AUTHORS  @meteorcloudy
android/ @ahumesky @jin
bzlmod/ @wyverald
configurations/ @bazelbuild/configurability
cpp-tutorial/ @oquenchil
flags-parsing-tutorial/ @bazelbuild/configurability
frontend/ @alexeagle
go-tutorial/ @bazelbuild/go-maintainers
macros/ @brandjon
make-variables/ @bazelbuild/configurability
rules/ @comius
third-party-dependencies/ @meteorcloudy
