Repository bazelbuild/examples, changes with the owners that CODEOWNERS names for each.
All owners: @gregestren, @Wyverald, @fweikert, @meteorcloudy, @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @alexeagle, @bazelbuild/go-maintainers, @brandjon, @comius

chore(deps): update dependency androidx.compose.ui:ui to v1.9.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.9.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.core:core to v1.17.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update rules_lint dependency.
  frontend/MODULE.bazel
Owners: @alexeagle

Update rules_lint dependency. (#636)
  frontend/MODULE.bazel
Owners: @alexeagle

chore(deps): update distroless docker digest to 0000f9d
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

chore(deps): update distroless_java docker digest to f432945
  java-maven/MODULE.bazel
Owners: @gregestren, @Wyverald

chore(deps): update rules_android_ndk digest to 7b4300f
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.appcompat:appcompat to v1.7.1
  android/jetpack-compose/MODULE.bazel
  android/ndk/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.compiler:compiler to v1.5.15
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.material:material to v1.9.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.runtime:runtime to v1.9.3
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.core:core to v1.17.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency aspect_bazel_lib to v2.21.2
  frontend/MODULE.bazel
Owners: @alexeagle

chore(deps): update dependency androidx.compose.material:material to v1.9.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.runtime:runtime to v1.9.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui to v1.9.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.9.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

frontend: Update aspect_rules_jest to 0.24.0.
  frontend/MODULE.bazel
Owners: @alexeagle

Update PROJECT.scl load()s with new magic label.
  configurations/auto_configured_builds/alias/project_main/PROJECT.scl
  configurations/auto_configured_builds/compatible/PROJECT.scl
  configurations/auto_configured_builds/strict/PROJECT.scl
  configurations/auto_configured_builds/target_specific/PROJECT.scl
  configurations/auto_configured_builds/warn/PROJECT.scl
Owners: @bazelbuild/configurability

Update `PROJECT.scl` `load()`s with new magic label. (#640)
  configurations/auto_configured_builds/alias/project_main/PROJECT.scl
  configurations/auto_configured_builds/compatible/PROJECT.scl
  configurations/auto_configured_builds/strict/PROJECT.scl
  configurations/auto_configured_builds/target_specific/PROJECT.scl
  configurations/auto_configured_builds/warn/PROJECT.scl
Owners: @bazelbuild/configurability

chore(deps): update distroless docker digest to 0000f9d
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

chore(deps): update rules_android_ndk digest to 7b4300f
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

chore(deps): update dependency aspect_bazel_lib to v2.21.2
  frontend/MODULE.bazel
Owners: @alexeagle

chore(deps): update dependency androidx.appcompat:appcompat to v1.7.1
  android/jetpack-compose/MODULE.bazel
  android/ndk/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.compiler:compiler to v1.5.15
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.material:material to v1.9.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.runtime:runtime to v1.9.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui to v1.9.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.9.4
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.core:core to v1.17.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.material:material to v1.9.5
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.runtime:runtime to v1.9.5
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui to v1.9.5
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.9.5
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Fix build with Bazel last_green
  frontend/MODULE.bazel
Owners: @alexeagle

Fix build with Bazel last_green (#643)
  frontend/MODULE.bazel
Owners: @alexeagle

chore(deps): update distroless docker digest to 0c8eac8
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

chore(deps): update rules_android_ndk digest to 7b4300f
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.appcompat:appcompat to v1.7.1
  android/jetpack-compose/MODULE.bazel
  android/ndk/MODULE.bazel
Owners: @ahumesky, @jin

CODEOWNERS:

* @gregestren @Wyverald

.bazelci @fweikert
AUTHORS  @meteorcloudy
android/ @ahumesky @jin
bzlmod/ @wyverald
configurations/ @bazelbuild/configurability
cpp-tutorial/ @oquenchil
flags-parsing-tutorial/ @bazelbuild/configurability
frontend/ @alexeagle
go-tutorial/ @bazelbuild/go-maintainers
macros/ @brandjon
make-variables/ @bazelbuild/configurability
rules/ @comius
third-party-dependencies/ @meteorcloudy
