Repository bazelbuild/examples, changes with the owners that CODEOWNERS names for each.
All owners: @gregestren, @Wyverald, @fweikert, @meteorcloudy, @ahumesky, @jin, @wyverald, @bazelbuild/configurability, @oquenchil, @alexeagle, @bazelbuild/go-maintainers, @brandjon, @comius

CODEOWNERS:

* @gregestren @Wyverald

.bazelci @fweikert
AUTHORS  @meteorcloudy
android/ @ahumesky @jin
bzlmod/ @wyverald
configurations/ @bazelbuild/configurability
cpp-tutorial/ @oquenchil
flags-parsing-tutorial/ @bazelbuild/configurability
frontend/ @alexeagle
go-tutorial/ @bazelbuild/go-maintainers
macros/ @brandjon
make-variables/ @bazelbuild/configurability
rules/ @comius
third-party-dependencies/ @meteorcloudy

fix: avoid a sandbox escape in vite config resolution (#615)
  frontend/vue/vite.config.ts
Owners: @alexeagle

chore(deps): update distroless_java docker digest to 4d41893
  java-maven/MODULE.bazel
Owners: @gregestren, @Wyverald

chore(deps): update rules_android_ndk digest to 7b4300f
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.appcompat:appcompat to v1.7.1
  android/jetpack-compose/MODULE.bazel
  android/ndk/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.compiler:compiler to v1.5.15
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.material:material to v1.9.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.runtime:runtime to v1.9.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui to v1.9.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.9.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Don't flatten a depset unnecessarily
  rules/depsets/foo.bzl
Owners: @comius

Update foo.bzl
  rules/depsets/foo.bzl
Owners: @comius

Fix builds with Bazel@HEAD
  java-maven/MODULE.bazel
  rust-examples/01-hello-world/MODULE.bazel
  rust-examples/02-hello-cross/MODULE.bazel
  rust-examples/03-comp-opt/MODULE.bazel
  rust-examples/04-ffi/MODULE.bazel
  rust-examples/05-deps-cargo/MODULE.bazel
  rust-examples/06-deps-direct/MODULE.bazel
  rust-examples/07-deps-vendor/MODULE.bazel
  rust-examples/07-deps-vendor/README.md
  rust-examples/08-grpc-client-server/MODULE.bazel
  rust-examples/08-grpc-client-server/README.md
  rust-examples/09-oci-container/MODULE.bazel
  third-party-dependencies/.bazelrc
  third-party-dependencies/MODULE.bazel
Owners: @gregestren, @Wyverald, @meteorcloudy

Upgrade container_structure_test
  java-maven/MODULE.bazel
Owners: @gregestren, @Wyverald

fix
  .bazelci/misc.yml
  third-party-dependencies/.bazelversion
Owners: @fweikert, @meteorcloudy

Upgrade rules_rust_prost
  rust-examples/08-grpc-client-server/MODULE.bazel
Owners: @gregestren, @Wyverald

upgrade
  java-maven/.bazelversion
  java-maven/MODULE.bazel
Owners: @gregestren, @Wyverald

Fix builds with Bazel@HEAD (#632)
  .bazelci/misc.yml
  java-maven/.bazelversion
  java-maven/MODULE.bazel
  rust-examples/01-hello-world/MODULE.bazel
  rust-examples/02-hello-cross/MODULE.bazel
  rust-examples/03-comp-opt/MODULE.bazel
  rust-examples/04-ffi/MODULE.bazel
  rust-examples/05-deps-cargo/MODULE.bazel
  rust-examples/06-deps-direct/MODULE.bazel
  rust-examples/07-deps-vendor/MODULE.bazel
  rust-examples/07-deps-vendor/README.md
  rust-examples/08-grpc-client-server/MODULE.bazel
  rust-examples/08-grpc-client-server/README.md
  rust-examples/09-oci-container/MODULE.bazel
  third-party-dependencies/.bazelrc
  third-party-dependencies/.bazelversion
  third-party-dependencies/MODULE.bazel
Owners: @fweikert, @gregestren, @Wyverald, @meteorcloudy

chore(deps): update distroless docker digest to 620d8b1
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

chore(deps): update distroless_java docker digest to f432945
  java-maven/MODULE.bazel
Owners: @gregestren, @Wyverald

chore(deps): update rules_android_ndk digest to 7b4300f
  android/ndk/WORKSPACE
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.appcompat:appcompat to v1.7.1
  android/jetpack-compose/MODULE.bazel
  android/ndk/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.compiler:compiler to v1.5.15
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.material:material to v1.9.1
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.runtime:runtime to v1.9.1
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui to v1.9.1
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.compose.ui:ui-tooling to v1.9.1
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

chore(deps): update dependency androidx.core:core to v1.17.0
  android/jetpack-compose/MODULE.bazel
Owners: @ahumesky, @jin

Update rules_oci dependency version to 2.2.6
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

Update rules_oci dependency version to 2.2.6 (#633)
  rust-examples/09-oci-container/MODULE.bazel
Owners: @gregestren, @Wyverald

Intro examples for auto-configured builds / PROJECT.scl
  configurations/auto_configured_builds/BUILD
  configurations/auto_configured_builds/MODULE.bazel
  configurations/auto_configured_builds/README.md
  configurations/auto_configured_builds/alias/project_lib/BUILD
  configurations/auto_configured_builds/alias/project_lib/PROJECT.scl
  configurations/auto_configured_builds/alias/project_main/BUILD
  configurations/auto_configured_builds/alias/project_main/PROJECT.scl
  configurations/auto_configured_builds/compatible/BUILD
  configurations/auto_configured_builds/compatible/PROJECT.scl
  configurations/auto_configured_builds/custom_flags_impl/BUILD
  configurations/auto_configured_builds/custom_flags_impl/MODULE.bazel
  configurations/auto_configured_builds/strict/BUILD
  configurations/auto_configured_builds/strict/PROJECT.scl
  configurations/auto_configured_builds/target_specific/BUILD
  configurations/auto_configured_builds/target_specific/PROJECT.scl
  configurations/auto_configured_builds/warn/BUILD
  configurations/auto_configured_builds/warn/PROJECT.scl
Owners: @bazelbuild/configurability

Formatting fixes.
  configurations/auto_configured_builds/compatible/PROJECT.scl
  configurations/auto_configured_builds/strict/PROJECT.scl
  configurations/auto_configured_builds/target_specific/PROJECT.scl
  configurations/auto_configured_builds/warn/PROJECT.scl
Owners: @bazelbuild/configurability

More formatting fixes.
  configurations/auto_configured_builds/alias/project_main/PROJECT.scl
Owners: @bazelbuild/configurability

Respond to review comments.
  configurations/auto_configured_builds/README.md
  configurations/auto_configured_builds/alias/project_main/PROJECT.scl
  configurations/auto_configured_builds/compatible/PROJECT.scl
  configurations/auto_configured_builds/strict/PROJECT.scl
  configurations/auto_configured_builds/target_specific/PROJECT.scl
  configurations/auto_configured_builds/warn/PROJECT.scl
Owners: @bazelbuild/configurability

Further emphasize Bazel 9.0 need.
  configurations/auto_configured_builds/README.md
Owners: @bazelbuild/configurability

Further wrap code blocks.
  configurations/auto_configured_builds/README.md
Owners: @bazelbuild/configurability

Update command.
  configurations/auto_configured_builds/README.md
Owners: @bazelbuild/configurability

More README tweaks.
  configurations/auto_configured_builds/README.md
Owners: @bazelbuild/configurability

Exclude from CI
  .bazelci/configurations.yml
Owners: @fweikert

Typo fix.
  .bazelci/configurations.yml
Owners: @fweikert

Intro examples for auto-configured builds / PROJECT.scl (#635)
  .bazelci/configurations.yml
  configurations/auto_configured_builds/BUILD
  configurations/auto_configured_builds/MODULE.bazel
  configurations/auto_configured_builds/README.md
  configurations/auto_configured_builds/alias/project_lib/BUILD
  configurations/auto_configured_builds/alias/project_lib/PROJECT.scl
  configurations/auto_configured_builds/alias/project_main/BUILD
  configurations/auto_configured_builds/alias/project_main/PROJECT.scl
  configurations/auto_configured_builds/compatible/BUILD
  configurations/auto_configured_builds/compatible/PROJECT.scl
  configurations/auto_configured_builds/custom_flags_impl/BUILD
  configurations/auto_configured_builds/custom_flags_impl/MODULE.bazel
  configurations/auto_configured_builds/strict/BUILD
  configurations/auto_configured_builds/strict/PROJECT.scl
  configurations/auto_configured_builds/target_specific/BUILD
  configurations/auto_configured_builds/target_specific/PROJECT.scl
  configurations/auto_configured_builds/warn/BUILD
  configurations/auto_configured_builds/warn/PROJECT.scl
Owners: @fweikert, @bazelbuild/configurability
